extends defaultLayout.jade

block header
	block defs
	title= "Not Found | Steven Enamakel"
	style
		include ../css/build/home.css

block content
	h1.font-supertitle 404
	#container.col
		p
			| Page not found. Go back.
