extends defaultLayout.jade

block header
	block defs
	title= "About | Steven Enamakel"
	style
		include ../css/build/home.css

block content
	h1#page-title.font-supertitle About
	#container.col
		p.text Hi there, <br/><br/> I don't really want to say much about myself. I just like sharing knowledge and I hope that you find something useful here.
			<br/><br/> Want to send me a message? Send an email to <b>me-at-steven.pw</b>