extends defaultLayout.jade

block header
  block defs
    meta(name="description", content="My blog. A place for me to store and share the knowledge that I have learnt and discovered.")
  title= "Steven Enamakel"
  style
    include ../css/build/home.css

block content
  h1#page-title Steven Enamakel
  #container.col
    p.text.
      This website is just a place for me to collect and archive my
      thoughts and opinions.
      <br/>
      <br/>
      With that being said, You probably won't find anything useful here as the
      stuff here show how very little I know. But still, you're very much
      welcome to roam around!
      <br/>
      <br/>
      Also if you want to reach me, why not bump me an email?
      <a class="clean" href="mailto:me@steven.pw">me@steven.pw</a>

  ul#links
    li
      a.clean(href="/b/1") And so it begins
      .description A brief about how I designed this blog and what were my goals with it.
      .date 19th August 2014

    li
      a.clean(href="/b/4") Terminal Snake login
      .description How to change your login prompt to a game of snake
      .date 2nd Feburary 2015