extends postLayout.jade

block defs
	- var pageTitle = 'Customer by service first'
	- var description = 'How I found a powerful way to find customers for myself'
	- var date = '19th March 2015'

block article-content
	p
		| One of the things that I value the most is human creativity. No
		| doubt it has left such astounding marks in our history. It's workings
		| itself is mystery, and an understanding of how it works will
		| ironically require some creativity.

	p
		| So, I work with my Dad to sell computers and medical equipments and
		| the weekly report struggles to make sales due to a lack of customers.
		| It's obvious that we aren't reaching as many people as we want and
		| our exisiting customers just don't take us seriously. But put this
		| situation aside for now. What comes next makes things more interesting.


	h2 I started on a side-project
	p
		| My Dad wanted me to make a site that
		| would grow popular and eventually hit a large audience, to which we
		| can then advertise our company. 'Ok then' I decided, 'let's see what
		| we can make here'.

	p
		| I spent three years in Canada and found that classified sites were
		| really very useful and were being used alot. I saw that Kuwait did not
		| have a site that did anything that was near as decent to what the
		| Canadian sites had to offer. So I decided on making a classifieds site
		| specifically for the people in Kuwait.


	h2 What the site would do
	p
		| The site would do only one thing and it would do that thing better
		| than anyone else. And that was to collect and organize public
		| classifieds. At it's core it would behave just like any regular
		| classified site, but it would focus more on user experience and having
		| features that would keep it ahead of it's competitors.

	p
		| A pretty standard goal. A point to note here is that the site was going to
		| be clean of any third-party ads. This was a decision I made because
		| third-party ads just ruined the design of the site. So how was I going
		| to accomplish my original goal? The one about promoting my Dad's
		| business?

	p
		| A few weeks in development of the site, it had finally struck me.
		| Classified sites like the one I will be building will attract a pool
		| of people who want to buy stuff and who want to sell stuff. The site
		| will just me the middle-man, organizing all the things so that the
		| two parties are always happy.

	p.
		Now that gives alot of control to the middle-man, since he gets to
		decide who goes where
	p
		| But what if I could find a way to have products from my Dad's company
		| post as classifieds and somehow 'promote' them from other classifieds?

	h2 What the site would EVENTUALLY do

	h2 What is to be learnt from this?