extends ../defaultLayout.jade

block header
  block defs
  <meta http-equiv="refresh" content="0; url=/b/2" />
  title= "Blog - Steven Enamakel"
  style
    include ../../css/build/home.css

block content
  h1#page-title.font-supertitle Re-directing