@import
  "_normalize",
  "global/functions",
  "global/properties",
  "global/basicStyles",
  "global/font",
  "_header";

body {
  background: #FFF;

  h1 {
    margin-bottom: 0;
  }
  .description {
    margin: 0;
    font-weight: bold;
  }

  article {
    // margin: 10px auto;
    width: 100%;
    // font-size: 13px;
    // max-width: 650px;

    a, a:visited, a:active{
      font-weight: bold;
      text-decoration: none;
    }
    b, blockquote { color: #000; }
    blockquote {
      border-left: #000 2px solid;
      padding-left: 20px;
      margin-left: 0;
    }
    p {
      @extend .font-text;
      @include clearfix();
      margin: 1em 0;
    }
    ul, li { padding: 0; }
    ul {
      margin: 20px 0;

      li {
        margin-bottom: 30px;

        .head {
          @extend .font-title;
          color: #000;
        }
        .text {
          padding-top: 10px;
          padding-left: 20px;
        }
      }
    }
    img { max-width: 100%; }
    #a-title {padding: 10px 0;}
    #a-meta {
      @include clearfix();
      font-weight: bold;
      font-size: 12px;
      margin-bottom: 100px;
    }

    @media screen and (max-width: $mobileLimit) {
      #a-content { font-size: 1em; }
      #a-meta span, #a-author {
        font-size: 1em !important;
      }
    }
  }
}